<!DOCTYPE html>
<html>
  <!-- head -->
  <%- include('./partials/head.ejs') %>

  <body>
    <section class="vh-100" style="background-color: #030012;">
      <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-12 col-md-8 col-lg-6 col-xl-5">
            <div class="card shadow-2-strong bg-dark text-white" style="border-radius: 1rem;">
              <div class="card-body p-5 text-center">

                <form  action="/admin/admin" method="post">
                  <h3 class="mb-4">Admin Sign in</h3>
      
                  <div class="form-outline mb-4">
                    <input type="text" id="typeAdminTextX" name="username" class="form-control form-control-lg bg-dark text-white" />
                    <label class="form-label text-white" for="typeAdminTextX">Admin Name</label>
                  </div>
      
                  <div class="form-outline mb-4">
                    <input type="password" id="typeAdminPasswordX" name="password" class="form-control form-control-lg bg-dark text-white" />
                    <label class="form-label  text-white" for="typeAdminPasswordX">Password</label>
                  </div>
      
                  <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
       
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- mdb script -->
    <%- include('./partials/adminscript.ejs') %>
  </body>
</html>
